nav.top-bar .left .device-menu {
  height:0;
  overflow: hidden;
  float: left;
  width: 180px;
  position: absolute;
  background-color: black;
  -webkit-transition-duration:0.3s;
  display: none;
  opacity: 0;
}

nav.top-bar .left .active-hover {
  height: auto;
  display: block;
  opacity: 1; 
  margin-top: 43px;
  border-top: 2px solid #333;
}
